.Expositores{

  .Page__Opacity{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(#000,0.9);
    z-index: 10;
    display: none;
  }
  .Page__LightBox{
    position: fixed;
    max-width: 650px;
    background: #003000;
    top: 50%;
    left: 50%;
    color: white;
    z-index: 30;
    transform: translateY(-50%) translateX(-50%);
    margin:auto !important;
    display: none;
    padding: 20px;
    .close{
      position: absolute;
      right: -15px;
      top: -15px;
      font-size: 30px;
      cursor: pointer;
    }
    h3{
      font-family: 'Fontastique';
      margin: 15px 0;
      font-size: 25px;
    }
    img{
      float: right;
      max-width: 250px;
      margin-left: 20px;
      margin-bottom: 20px; 
    }
    p{
      margin: 0;
      text-align: justify;
      font-family: 'Hero_Light';
      font-weight: bold;
      font-size: 14px;
    }
  }


  &__Right{
    &.Content{
      display: flex;
      width: 100%;
      height: 100%;
      @include from('m'){
        width: 90%;
      }
    }
    &.Item{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
    }

  }

  &__Galeria{
    float: left;
    overflow-y: hidden;
    .item{
      width: 100%;
      float: left;
      @include to('m'){
        padding: 10px;
      }
      @include from('m'){
        width: 50%;
        &:nth-child(even){
          padding-left: 10px;
        }
        &:nth-child(odd){
          padding-right: 10px;
        }
      }
      &:nth-child(1),&:nth-child(2){
        .item_content{
          margin-top: 0;
        }
      }
      &_content{
        cursor: pointer;
        position: relative;
        margin-top: 8px;
        margin-bottom: 8px;
        img{
          width: 100%;
          vertical-align: bottom;
        }
        h3{
          position: absolute;
          bottom: 10px;
          left: 10px;
          margin: 0;
          font-family: 'Fontastique';
          font-size: 25px;
          color: white;
        }
        .cover{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background:rgba(lighten(#629824,10),0.6);
        }
      }
      p{
        margin: 0;
        max-height: 1rem;
        overflow: hidden;
        font-family: 'Hero_Light';
        font-weight: bold;
      }
    }
  }
  &__GaleriaScroll{
    float: left;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    img{
      cursor: pointer;
      &:hover{
        transition: all 200ms ease-in;
        transform: scale(1.2);
      }
    }
  }

  &__Form{
    margin-top: 10px;
    background-color: #2e6f21;
    overflow: hidden;
    padding: 20px 10px;
    @include from('m'){
      padding: 25px 25px 10px 25px; 
    }
    .Formulario{
      display: block;
      h2{
        margin-top: 0;
        
        font-family: 'Fontastique';
        font-size: 25px;
        color: white;
      }
      
      button{
        float: right;
        background: $naranja;
        color: white;
        outline: none;
        border: none;
        padding: 5px 35px;
        font-weight: bold;
        margin: 0;
        cursor: pointer;
      }
    }
    .MensajeFinal{
      display: none;
      text-align: center;
      h2{
        color: $naranja;
        margin: 0;
      }
      p{
        font-weight: bold;
        color: white;
        font-size: 16px;
      }
    }
    
  }
}