.Header{
  position: fixed;
  background-color: rgba($azul,0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: none;
  &__Close{
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 35px;
    color: white;
    cursor: pointer;
  }
  nav{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
    ul{
      li{
        display: block;
        &:hover{
          background-color: rgba($azul,0.9);
        }
        a{
          display: block;
          padding: 10px 50px;
          color:white;
          font-size: 25px;
        }
      }
    }
  }
}