.Home{
  &__RowsTwo{
    width: 100%;
    height: 70%;
    display: flex;
    flex-flow: row wrap;
    @include from('m'){
      padding-bottom: 4px;
    }
    .Home__Item{
      width: 100%;
      @include from('m') {
        width: 50%;
      }
    }
  }
  &__RowsTree{
    width: 100%;
    height: 30%;
    display: flex;
    flex-flow: row wrap;
    .Home__Item{
      width: 100%;
      @include from('m') {
        width: 33.3333%;
        padding-left: 4px;
      }
    }
    .Home__Item:first-child{
      padding-left: 0;
    }
  }
  &__Logo{
    display: flex;
    width: 100%;
    height: 100%;
  }
  &__LogoContent{
    @include to('m'){
      padding-top: 50px;
      padding-bottom:20px;
    }
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__Descripcion{
    @include to('m'){
      padding-top: 20px;
      padding-bottom:20px;
      background-size: cover;
    }
    height: 100%;
    width: 100%;
    background: url('../images/home_descripcion.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
  }
  
  &__DescripcionTexto{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    p{
      width: 70%;
      color: white;
      font-size: 16px;
      margin-top: 0;
    }
  }

  &__Thumbs{
    display: flex;
    width: 100%;
    height: 100%;
    @include to('m'){
      padding-top: 20px;
      padding-bottom:20px;
      background-size: cover;
    }
    &_Stands{
      background: url('../images/home_stands.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    &_Expositores{
      background: url('../images/home_expositores.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
    &_Publico{
      background: url('../images/home_publico.png');
      background-size: cover;
      background-repeat: no-repeat;
    }

  }
  &__ThumbsContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    &_Detail{
      width: 70%;
      padding: 50px 0;
      color: white;
      position: relative;
      &_Stands{
        background: rgba($azul,0.7);
      }
      &_Expositores{
        background: rgba($verde,0.7);
      }
      &_Publico{
        background: rgba($naranja,0.7);
      }
      img{
        position: absolute;
        top: -10px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      h2{
        margin-top: 0;
        margin-bottom: 5px;
        a{
          font-family: 'Fontastique';
          font-size: 30px;
          color:white;

        }
      }
      p{
        margin: 0;
      }
    }
  }
  
}