.Page{
  @include from('m'){
    height: 100vh;
  }

  
  &__Bars{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    font-size: 30px;
    cursor: pointer;
  }
  &__Content{
    @include from('m'){
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      padding-right: 38px;
      padding-bottom: 38px;
    }
  }
  &__Container{
    background: #FFF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
  }
  &__Contacto{
    background: #1e2023;
    color:white;
    text-align: center;
    @include to('m'){
      padding-top: 20px;
    }
    @include from('m'){
      position: fixed;
      z-index: 70;
      top: 0;
      bottom: 0;
      right: 0;
      width: 38px;
    }
    a{
      @include from('m'){
        position: absolute;
        top: calc(50% - 50px);
        right: -28px;
        transform: rotate(-90deg) translateY(-50%) translateX(-50%);
      }
      color:white;
      text-decoration: none;
      font-size: 20px;
      font-family: 'Fontastique';
    }
  }

  &__Footer{
    background: #1e2023;
    color: white;
    text-align: center;
    overflow: hidden;
    @include from('m'){
      position: relative;
      z-index: 80;
      bottom: 0;
      left: 0;
      right: 0;
      height: 38px;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      font-size: 12px;

    }
    .FooterText{
      @include to('m'){
        width: 100%;
        float:left;
        padding-top: 20px;
      }
      text-align: center;
    }
    .FooterSocial{
      background-color: #1e2023;
      @include to('m'){
        width: 100%;
        float:left;
        height: 40px;
        padding-top: 20px;
        padding-bottom: 40px;
      }
      @include from('m'){
        position: absolute;
        right: 0;
      }
      a{
        cursor: pointer;
        text-decoration: none;
        background: #65676a;
        margin-left: 10px;
        font-size: 15px;
        color: white;
        padding: 3px;
        border-radius: 3px;
      }
    }
  }
}

.LogoPrincipal{
  @include from('m'){
    max-width: 190px;
  }
}


input.has-error,
select.has-error,
textarea.has-error {
  box-shadow: 0 0 1px 1px #ff6347;
}

input.has-error:focus,
select.has-error:focus,
textarea.has-error:focus {
  outline: 0;
  box-shadow: 0 0 2px 2px #ff6347;
}
select::-ms-expand {
  display: none;
}

label.error{
  color: #ff6347;
  margin-top: 2px;
  display: block;
  font-size: 12px;
}

input[type=checkbox].has-error{
  box-shadow: none;
}




.row{
  width: 100%;
  float: left;
  overflow: hidden;
  margin-bottom: 8px;
  .col_label{
    width: 70px;
    color: white;
    text-align: right;
    float: left;
    padding-right: 10px;
    padding-top: 6px;
  }
  .col_input{
    float: left;
    width: calc(100% - 70px);
    padding: 3px 2px;
  }
}

.ContactoForm{
  background-color: rgba(#171A1F,.98);
  display: none;
  position: absolute;
  top: 0;
  @include to('m'){
    padding: 0 10px;
  }
  @include from('m'){
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
    color: white;

  }
  .ContactoClose{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 30;
    color: white;
    cursor: pointer;
    font-size: 32px;
  }
  &__Container{
    @include from('m'){
      position: absolute;
      width: 100%;
      width: 80%;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);

    }
  }
  &__Item{
    float: left;
    padding: 10px;
    @include from('m'){
      width: 50%;
      padding: 20px 30px;
    }
  }
  h2{
    font-family: 'Fontastique';
    font-size: 25px;
    color: white;
    @include to('m'){
      text-align: center;
    }
  }
  button{
    float: right;
    border: none;
    background-color: #F18100;
    color: white;
    padding: 5px 40px;
    cursor: pointer;
    font-weight: bold;
  }

  .MapaDireccion{
    #Mapa{
      height: 380px;
      width: 100%;
    }
    .Direccion{
      color: white;
      font-family: 'Hero_Light';
    }
  }
}