.Publico{

  &__Programa{
    &.Content{
      display: flex;
      width: 100%;
      height: 100%;
      @include from('m'){
        width: 90%;
      }
    }
    &.Item{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
    }

    &__Content{
      padding: 20px;
      background: #e78720;
      color: white;
      @include from('xl'){
        padding: 120px 20px;
      }
      h4{
        font-family: 'Fontastique';
        font-size: 30px;
        margin: 0;
      }
      ul{
        margin-top: 20px;
        li{
          border-bottom: 1px solid white;
          display: flex;
          padding: 10px 0;
          &:last-child{
            border-bottom: none;
            
          }
          .Hora{
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            font-size: 18px;
            font-weight: bold;
            @include from('m'){
              width: 15%;
            }
          }
          .Descripcion{
            width: 80%;
            @include from('m'){
              width: 85%;
            }
          }
        }
      }
    }
  }
}

.PubExp{
  &__Row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  &__Item{
    width: 100%;
    height: 100%;
    @include from('m'){
      width: 50%;
    }
  }

  .Col1{
    &__Row1{
      width: 100%;
      height: 60%;
      display: flex;
      .PubExp__Logo{
        display: flex;
        width: 100%;
        height: 100%;
      }
      .PubExp__LogoContent{
        @include to('m'){
          padding-top: 50px;
          padding-bottom:20px;
        }
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &__Row2{
      width: 100%;
      height: 40%;
      &__Content{
        display: flex;
        height: 100%;
        width: 100%;
        @include from('m'){
          width: 90%;
        }
      }
      &__Item{
        width: 100%;
        height: 100%;
        position: relative;
        &.fondoPublico{
          background: url('../images/publico_box.png');
          background-size: cover;
          background-repeat: no-repeat;
        }
        &.fondoExpositores{
          background: url('../images/expositores_box.png');
          background-size: cover;
          background-repeat: no-repeat;
        }
        &.fondoStands{
          background: url('../images/stands_box.png');
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.Box{
  float: right;
  width: 100%;
  color: white;
  padding: 20px 20px 50px 20px;
  @include from('m'){
    padding: 0;
    padding-right: 50px;
    width: 80%;
  }
  h2{
    font-size: 28px;
    font-family: 'Fontastique';
    margin-top: 20px;
    margin-bottom: 0px;
  }
  p{
    font-size: 16px;
  }
  &__Links{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    &_Item{
      padding: 5px 0;
      text-align: center;
      width: 50%;
      float: left;
      a{
        font-family: 'Fontastique';
        color: white;
        font-size: 20px;
        display: block;
      }
      &.Stands{
        background-color: $azul;
      }
      &.Expositores{
        background-color: $verde;
      }
      &.Publico{
        background-color: $naranja;
      }
    }
  }
}