.Stands{

  .Page__Opacity{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(#000,0.7);
    z-index: 10;
    display: none;
  }
  .Page__LightBox{
    position: fixed;
    border-left: 10px solid #46608F;
    width: 95%;
    background: #F1F1F3;
    top: 50%;
    left: 50%;
    z-index: 30;
    transform: translateY(-50%) translateX(-50%);
    margin:auto !important;
    display: none;
    @include from('m'){
      padding: 20px 50px;
      max-width: 710px;
    }
    .close{
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 20px;
      color: #6E6E6F;
      cursor: pointer;
    }
    .Formulario{
      display: block;
      @include to('m'){
        padding: 10px;
      }
      h2{
        color: #46608F;
        font-family: 'Fontastique';
        font-size: 25px;
      }
      .row{
        margin-bottom: 2px;
        color: #46608F;
        .col_input{
          width: 100%;
        }
      }
      input[type=text]{
        height: 30px;
        color: #46608F;
        font-weight: bold;
      }
      textarea{
        color: #46608F;
        font-weight: bold;
      }
      .checkboxlabel{
        position: relative;
        padding-left: 20px;
        font-size: 14px;
        padding-right: 10px;
        display: inline-block;
        font-family: 'Hero_Light';
        font-weight: bold;
        input{
          position: absolute;
          left: 0;
        }
      }
      .col50{
        float: left;
        width: 100%;
        @include from('m'){
          width: 50%;
        }
        .telefono{
          margin-top: 5px;
          .icon-telefono{
            padding-left: 20px;
            position: relative;
            &::before{
              position: absolute;
              left: 0;
              top: 2px;
            }
          }
        }
  
        button{
          display: block;
          background-color: #46608F;
          outline: none;
          border: none;
          width: 100%;
          color: white;
          font-family: 'Fontastique';
          font-size: 25px;
          padding: 5px 0;
          cursor: pointer;
        }
  
        .CamposObligatorios{
          margin-top: 5px;
        }
      }
    }
    .Felicitaciones{
      display: none;
      text-align: center;
      p{
        font-size: 25px;
        font-weight: bold;
        color: #46608f;
      }
    }
    

  }


  &__Right{
    &.Content{
      display: flex;
      width: 100%;
      height: 100%;
      @include from('m'){
        width: 90%;
      }
    }
    &.Item{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      width: 100%;
    }

  }

  &__Circulo{
    @include to('m'){
      padding: 20px 10px;
    }
  }
  &__Informate{
    margin-top: 10px;
    background: #46608f;
    width: 100%;
    color: white;
    text-align: center;
    padding: 8px;
    font-size: 14px;
    font-family: 'Hero_Light';
    @include from('xl'){
      margin-top: 120px;
    }
    p{
      margin: 0;
    }
    button.link{
      margin-top: 10px;
      display: inline-block;
      background-color: #f5be17;
      color: #46608f;
      padding: 5px 10px;
      font-size: 20px;
      font-family: 'Fontastique';
      border: none;
      cursor: pointer;
    }
  }
}