@import 'normalize';

$azul : #1d548d;
$verde : #37875c;
$naranja : #ee6e2c;

*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
	font-family: 'Fontastique';
	src: url('fonts/fontastique.eot');
	src: local('☺'), url('fonts/fontastique.woff') format('woff'), url('fonts/fontastique.ttf') format('truetype'), url('fonts/fontastique.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLTStd';
	src: url('fonts/HelveticaNeueLTStd Lt.eot');
	src: local('☺'), url('fonts/HelveticaNeueLTStd Lt.woff') format('woff'), url('fonts/HelveticaNeueLTStd Lt.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd Lt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLTStd';
	src: url('fonts/HelveticaNeueLTStd-Bd.eot');
	src: local('☺'), url('fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), url('fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-Bd.svg') format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'Hero_Light';
	src: url('fonts/Hero_Light.eot');
	src: local('☺'), url('fonts/Hero_Light.woff') format('woff'), url('fonts/Hero_Light.ttf') format('truetype'), url('fonts/Hero_Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  margin      : 0;
  font-family : 'HelveticaNeueLTStd';
  font-size: 14px;
}

// Imágenes responsive
img {
  max-width : 100%;
  height    : auto;
}

a {
  text-decoration : none;

  &:hover { text-decoration : none }
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

input[type=text]{
	width: 100%;
	height: 25px;
	border: none;
	outline: none;
	padding: 0 5px;
}
textarea{
	width: 100%;
	border: none;
	outline: none;
	padding: 0 5px;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	color: #46608F;
	font-weight: bold;
}
textarea::-moz-placeholder,
input::-moz-placeholder {
  color: #46608F;
	opacity: 1;
	font-weight: bold;
}
textarea:-moz-placeholder,
input:-moz-placeholder {
	color: #46608F;
	font-weight: bold;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
	color: #46608F;
	font-weight: bold;
}
textarea:-moz-placeholder,
input:-moz-placeholder {
	color: #46608F;
	font-weight: bold;
}

@import 'edgrid/ed-grid';
@import 'page';
@import 'header';
@import 'home';
@import 'publico';
@import 'expositores';
@import 'stands';