extends template.pug

block contenido
  .Page__Container.Home
    .Home__RowsTwo
      .Home__Item
        .Home__Logo
          .Home__LogoContent
            a(href="index.html")
              img.LogoPrincipal(src="images/home_logo.png", alt="")
      .Home__Item
        .Home__Descripcion
          .Home__DescripcionTexto
            p 
              |El <b>Ovum2019</b> es el <b>XXVI</b> Congreso Latinoamericano de Avicultura a realizarse en la cuidad de Lima-Peru en el 2019. <br>
              | Un Evento lleno de nuevas ideas, con profesionales de primer nivel, con mas de 500 stands y con los mejores exponentes de la Avicultura Latinoamaericana.
              | Prepárate desde hoy y no pierda la oportunidad de estar presene en el <b>Ovum2019</b>.<br>
              | Ovum es donde nacen los negocios. Donde nace el conocimiento. Donde nace la tecnologia. <br>
              | Pero sobre todo... <b>DONDE NACE EL FUTURO</b>.
            p <b>¡Nos Vemos en Lima!</b>

    .Home__RowsTree
      .Home__Item
        .Home__Thumbs.Home__Thumbs_Stands
          .Home__ThumbsContent
            .Home__ThumbsContent_Detail.Home__ThumbsContent_Detail_Stands
              img(src="images/home_loguito.png", alt="")
              h2
                a(href="stands.html") Stands
              p Quiero tener mi stand en el <b>OVUM2019</b>

      .Home__Item
        .Home__Thumbs.Home__Thumbs_Expositores
          .Home__ThumbsContent
            .Home__ThumbsContent_Detail.Home__ThumbsContent_Detail_Expositores
              img(src="images/home_loguito.png", alt="")
              h2
                a(href="expositores.html") Expositores
              p Quiero ser expositor en el <b>OVUM2019</b>
      .Home__Item
        .Home__Thumbs.Home__Thumbs_Publico
          .Home__ThumbsContent
            .Home__ThumbsContent_Detail.Home__ThumbsContent_Detail_Publico
              img(src="images/home_loguito.png", alt="")
              h2
                a(href="publico.html") Público
              p Quiero asistir al <b>OVUM2019</b>