extends template.pug

block contenido
  .Page__Container.Publico.PubExp
    .PubExp__Row
      .PubExp__Item.Col1
        .Col1__Row1
          .PubExp__Logo
            .PubExp__LogoContent
              a(href="index.html")
                img.LogoPrincipal(src="images/home_logo.png", alt="")
        .Col1__Row2
          .Col1__Row2__Content
            .Col1__Row2__Item.fondoPublico
              .Box
                h2 PÚBLICO
                p <b>Ovum2019:</b> 03 dias de charlas, los top latinoamericanos, proveedores, polleros, ingernieros, quimicos, biologicos, empresarios y mas, todos juntos... en la capital Gastronómica de America.
                p <b>Ovum2019,</b> donde nace la camaraderia, donde nace el futuro.
              .Box__Links
                .Box__Links_Item.Stands
                  a(href="stands.html") Stands 
                .Box__Links_Item.Expositores
                  a(href="expositores.html") Expositores

      .PubExp__Item.Col2
        .Publico__Programa.Content
          .Publico__Programa.Item
            .Publico__Programa__Content
              h4 Programa de mano
              ul
                li
                  .Hora 9am.
                  .Descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, excepturi a deserunt praesentium perferendis corrupti animi repellendus natus laborum repudiandae cum odit facilis atque et distinctio quia ex voluptates quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nesciunt harum, dolorem a iure facilis 
                li
                  .Hora 11am.
                  .Descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, excepturi a deserunt praesentium perferendis corrupti animi repellendus natus laborum repudiandae cum odit facilis atque et distinctio quia ex voluptates quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nesciunt harum, dolorem a iure facilis 
                li
                  .Hora 3pm.
                  .Descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, excepturi a deserunt praesentium perferendis corrupti animi repellendus natus laborum repudiandae cum odit facilis atque et distinctio quia ex voluptates quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nesciunt harum, dolorem a iure facilis 
                li
                  .Hora 4pm.
                  .Descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, excepturi a deserunt praesentium perferendis corrupti animi repellendus natus laborum repudiandae cum odit facilis atque et distinctio quia ex voluptates quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nesciunt harum, dolorem a iure facilis 
                li
                  .Hora 6pm.
                  .Descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, excepturi a deserunt praesentium perferendis corrupti animi repellendus natus laborum repudiandae cum odit facilis atque et distinctio quia ex voluptates quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nesciunt harum, dolorem a iure facilis