extends template.pug

block contenido
  .Page__Container.Stands.PubExp
    .Page__Opacity
    .Page__LightBox
      .close.icon-close
      .Formulario
        h2 Reserva tu Stand aquí
        form(id="FormReservaStand",action="enviar_reserva.php",method="post")
          .row
            .col_input
              input(type="text",name="nombre",placeholder="Nombre Completo*")
          .row
            .col_input
              input(type="text",name="email",placeholder="E-Mail*")
          .row
            .col_input
              input(type="text",name="telefono",placeholder="Teléfono*")
          .row
            .col_input
              textarea(name="consulta", rows="4", placeholder="Consulta")
          .row
            .col50
              <label class="checkboxlabel"><input type="checkbox" name="politicas">He leido y acepto la Politica de tratamiento de datos</label>
                
            .col50
              button(type="submit") Enviar
          .row
            .col50
              .telefono
                span.icon-telefono (511) 261 1071
            .col50
              .CamposObligatorios (*) Campos Obligatorios
      .Felicitaciones
        img(src="images/felicitaciones.png", alt="")
        p Acabas de reservar tu stand en el Ovum2019.<br>Nuestros asesores se comunicarán contigo para finalziar el proceso.
        p ¡Nos vemos en Lima!


    .PubExp__Row
      .PubExp__Item.Col1
        .Col1__Row1
          .PubExp__Logo
            .PubExp__LogoContent
              a(href="index.html")
                img.LogoPrincipal(src="images/home_logo.png", alt="")
        .Col1__Row2
          .Col1__Row2__Content
            .Col1__Row2__Item.fondoStands
              .Box
                h2 Stands
                p <b>Ovum2019:</b> 30,000mts2 con 500 stands en el congreso más importante de Avicultura de Latinoamérica, con los más importantes de la industria reunidos... No puedes no estar.
                p <b>Ovum2019,</b> donde nace la camaraderia, donde nace el futuro.
              .Box__Links
                .Box__Links_Item.Expositores
                  a(href="expositores.html") Expositores 
                .Box__Links_Item.Publico
                  a(href="publico.html") Público

      .PubExp__Item.Col2
        .Stands__Right.Content
          .Stands__Right.Item
            .Stands__Circulo
              img(src="images/stands_circulo.png", alt="")
            .Stands__Informate
              p Reserva tu stands en el congreso de Avicultura
              button.link(href="#") Infórmate aquí