<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon", href="images/favicon.png")
    link(rel="stylesheet", href="https://file.myfontastic.com/4iY3LJhFfH23HpUnfQazjS/icons.css")
    link(rel="stylesheet", href="css/styles.css")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArCETPtmpt7r3Dxb9FjN0zg1nIY-ejWyc")
    script(src="js/gmaps.js")
    title OVUM
  body
    .Page
      .Page__Content
        .Page__Bars.icon-bars 
        header.Header
          .Header__Close.icon-close
          nav
            ul
              li: a(href="index.html") Inicio
              li: a(href="stands.html") Stands
              li: a(href="expositores.html") Expositores
              li: a(href="publico.html") Público
        block contenido
        .ContactoForm
          .ContactoClose.icon-close
          .ContactoForm__Container
            .ContactoForm__Item
              form(id="FormContacto", method="")
                h2 Contáctanos
                .row
                  .col_label
                    label Nombre:
                  .col_input
                    input(type="text",name="nombre")
                .row
                  .col_label
                    label Correo:
                  .col_input
                    input(type="text",name="correo") 
                .row
                  .col_label
                    label Empresa:
                  .col_input
                    input(type="text",name="empresa") 
                .row
                  .col_label
                    label Telefono:
                  .col_input
                    input(type="text",name="telefono") 
                .row
                  .col_label
                    label Mensaje:
                  .col_input
                    textarea(name="mensaje",rows="5", id="message")
                .row
                    button(type="submit") Enviar 
            .ContactoForm__Item
              .MapaDireccion
                #Mapa
                .Direccion
                  p ASOCIACIÓN PERUANA DE AVICULTURA <br> Direccion: Av. Esmeralda 255  Chacarilla del Estanque San Borja <br>Central Telefónica 51(1) 372-1540
        .Page__Contacto
          a(href="#") Contacto
        .Page__Footer
          span.FooterText Congreso Latinoamericano de Avicultura 2019. Todos los derechos reservados
          .FooterSocial
            a.icon-facebook(href="#")
            a.icon-linkedin(href="#")
        

            

    script(src="js/jquery-1.12.4.min.js")
    script(src="js/jquery.form.min.js")
    script(src="js/jquery.validate.js")
    script(src="js/main.js")